{% extends 'emp/emp_base.html' %}
{% load static %}

{% block main %}
    <link rel="stylesheet" href="{% static 'css/show_info.css' %}">
    <h2>Change Password</h2>
    <form class="login-form" name='change_password' method="POST" onsubmit="return checkpsw()">
        {% csrf_token %}
        <div>
            <label for="current_password" class="label">Current Password:</label>
            <input type="text" name="current_password" id="current_password" required>
        </div>
        <div>
            <label for="new_password" class="label">New Password:</label>
            <input type="password" name="new_password" id="new_password" required>
        </div>
        <div>
            <label for="conf_password" class="label">Confirm Password:</label>
            <input type="password" name="conf_password" id="conf_password" required>
        </div>
        <div>
            <button type="submit" class="submit">Change Password</button>
        </div>
    </form>

    <script>
        function checkpsw(){
            const newPass = document.getElementById('new_password').value;
            const confPass = document.getElementById('conf_password').value;
            if(newPass !== confPass){
                alert('Confirm Password Does not match New Password!!\n Try again')
                document.getElementById('conf_password').focus();
                return false
            }
            return true
        }
    </script>
{% endblock %}