{% extends 'emp/emp_base.html' %}
{% load static %}

{% block main %}

    {% if formset.non_form_errors %}
        <div class="error">
            {{ formset.non_form_errors }}
        </div>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/show_info.css' %}">
    <h2>Education</h2>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="education">
                <ol>
                    {{ form.id }}
                    <li>
                        <label class="label">Degree:</label>
                        {{ form.degree.errors }}
                        {{ form.degree }}
                    </li>
                    <li>
                        <label class="label">Institute:</label>
                        {{ form.institute.errors }}
                        {{ form.institute }}
                    </li>
                    <li>
                        <label class="label">Passing year:</label>
                        {{ form.passing_year.errors }}
                        {{ form.passing_year }}
                    </li>
                    <li>
                        <label class="label">Score:</label>
                        {{ form.score.errors }}
                        {{ form.score }}
                    </li>
                    {% if formset.can_delete %}
                        <li>
                            <label for="{{ form.prefix }}-DELETE">Delete:</label>
                            {{ form.DELETE }}
                        </li>
                    {% endif %}
                </ol>
            </div>
        {% endfor %}
        <div>
            <button type="submit">Save Changes</button>
        </div>
    </form>
{% endblock %}
