{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Record Management System</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="profile">
                <img src="{% static 'images/user-profile-icon.svg' %}" alt="Profile Picture">
            </div>
            <nav class="nav">
                <ul>
                    <li><a class="{% if request.path == '/adminpanel' %} active {% endif %}" href="{% url 'adminpanel' %}">Home</a></li>
                    <li><a class="{% if request.path == '/users' %} active {% endif %}" href="{% url 'users' %}">All Employees</a></li>
                    <li><a class="{% if request.path == '/change_password_admin' %} active {% endif %}" href="{% url 'change_password_admin' %}">Change Password</a></li>
                    <li><a class="{% if request.path == '/logout' %} active {% endif %}" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <header>
                <h1>Employee Record Management System</h1>
            </header>
            <section class="dashboard">
                {% block main %}

                {% endblock %}
            </section>
        </main>
    </div>
</body>
</html>
